/* Display property use in block and in-line elements */

div {
    height: 200px;
    width: 200px;
    background-color: aqua;
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
}

span {
    height: 200px;
    width: 200px;
    background-color: aqua;
    margin: 20px;
    border: 2px solid black;
    display: block;
}