/* Transition code in css */

div {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    /* It will set element on center of the page */
    background-color: #4dff00ff;
    margin-top: 10px;
    /* transition-duration: 1s; */
    /* transition-delay: 1s; */
    transition: margin-top 2s ease-in 0.2s;
    /* transition can take 4 types of ease which can effect the way transition would take place. e.g. ease ease-in ease-in-out ease-out */
}

div:hover {
    background-color: black;
    border-radius: 50%;
    margin-top: 400px;
    background-color: pink;
}